.quote-text {
  transition: ease-in-out color 0.7s;
}
.t-button {
  transition: ease-in-out background-color 0.7s;
}
body {
  transition: ease-in-out background-color 0.7s;
}
.quote-card {
  transition: max-height linear 0.7s;
}
.container {
  max-width: 80%;
}
